body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    position: relative;
}

/* div {
    display: none;
} */

div {
    width: 300px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px;
    border-radius: 5px;
}

div > h1, p {
    position: relative;
    left: 5%;
}

div > label, input, button {
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

div > label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn {
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 15px;
    border: 1px solid;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

#candidato {
    height: 30px;
    width: 80%;
    border-radius: 5px;
}

#btn:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: rgb(0, 73, 184);
}


.boletimdiv {
    display: none;
}