.voltar {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: translate(-5%, -95%);
    cursor: pointer;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    position: relative;
}

/* div {
    display: none;
} */

div {
    width: 300px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px;
    border-radius: 5px;
}

div > h1, p {
    position: relative;
    left: 5%;
}

div > label, input, button {
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

div > label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn {
    background-color: rgb(46, 119, 255);
    padding: 5px 5px;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

#candidato {
    height: 30px;
    width: 80%;
    border-radius: 5px;
}

#btn:hover {
    transition: 0.5s;
    background-color: rgb(46, 255, 168);
}


.boletimdiv {
    display: none;
}

.govimg {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 98%;
    top: 100%;
    transform: translate(-100%, -100%);
}