

body {
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    position: relative;
}

/* div {
    display: none;
} */

#btn {
    font-size: 15px;
    width: 70px;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
}

div {
    width: 300px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px;
    border-radius: 5px;
}

label, input, button {
    position: relative;
    top: 5%;
    left: 5%;
    margin-top: 10px;
    display: block;
}

#mainTitulo4 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
}

button {
    background-color: rgb(46, 119, 255);
    padding: 5px 5px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button:hover {
    transition: 0.5s;
    background-color: rgb(46, 255, 168);
}

.voltar {
    position: absolute;
    top: 95%;
    left: 5%;
    transform: translate(-5%, -95%);
    cursor: pointer;
}


#mainDiv {
    display: inline;
}

.govimg {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 98%;
    top: 100%;
    transform: translate(-100%, -100%);
}


input {
    width: 90%;
    height: 30px;
}
